a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
    background: #eee;
}

.menu-item {
    padding-inline: 40px;
    font-size: 18px;
    list-style: none;
}
